div{
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    float:left;
}
div:nth-of-type(odd){
    background-color: grey;
}
.zydra {
    background-color: cyan;
}
.zalia {
    background-color: chartreuse;
}
.purpurine {
    background-color: lightpink;
}
div:nth-child(5n+1){
    clear:both;
}