body {
    background-color:lightyellow;
    font-family: sans-serif;
    text-align: center;
}

h1 {
    background-color: blanchedalmond;
    box-shadow: 4px 4px 8px black;
}

h2 {
    background-color: rgb(172, 172, 156);
    box-shadow: 4px 4px 8px black;
}
table {
    border: 1px solid black;
    box-shadow: 3px 3px 8px black;
    margin-left:auto;
    margin-right:auto;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

img {
    border-radius: 200px;
    box-shadow: 4px 4px 8px black;
}

#products {
    display: table;
    margin:auto;
    background-color: lightgray;
    box-shadow: 4px 4px 8px black;
}

#products li {
    text-align: left;
}

#films {
    display: table;
    margin:auto;
    background-color: lightgray;
    box-shadow: 4px 4px 8px black;
}

#films li {
    text-align: left;
}

#web_dev {
    display: table;
    margin:auto;
    background-color: lightgray;
    box-shadow: 4px 4px 8px black;
}

#web_dev li {
    text-align: left;
}